<!doctype html>
	<html>
		<head>
			<title>CRICKET WORLD CUP</title>

		</head>
			<body style="background-color:grey">
				<h1><b><u>CRICKET WORLD CUP(site by Trevor</u></b><h1>
				<h2><b> Facts about CWC </b></h2>
				<img src= "dhoni.jpg"width="300">
				<P>The Cricket World Cup (officially known as ICC Men's Cricket World Cup)[1] is the international championship of One Day International (ODI) cricket. The event is organised by the sport's governing body, the International Cricket Council (ICC), every four years, with preliminary qualification rounds leading up to a finals tournament. The tournament is one of the world's most viewed sporting events and is considered the "flagship event of the international cricket calendar" by the ICC.[2]
				The first World Cup was organised in England in June 1975, with the first ODI cricket match having been played only four years earlier. However, a separate Women's Cricket World Cup had been held two years before the first men's tournament, and a tournament involving multiple international teams had been held as early as 1912, when a triangular tournament of Test matches was played between Australia, England and South Africa. The first three World Cups were held in England. From the 1987 tournament onwards, hosting has been shared between countries under an unofficial rotation system, with fourteen ICC members having hosted at least one match in the tournament.
				The World Cup is open to all members of the ICC, although the highest-ranking teams receive automatic qualification. The remaining teams are determined via the World Cricket League and the ICC World Cup Qualifier. A total of twenty teams have competed in the eleven editions of the tournament, with ten teams competing in the recent 2019 tournament. Australia has won the tournament five times, India and West Indies twice each, while Pakistan, Sri Lanka and England have won it once each. The best performance by a non-full-member team came when Kenya made the semi-finals of the 2003 tournament.
				England are the current champions after winning the 2019 edition. The next tournament will be held in India in 2023.</p>
				<hr>
				<h3> <b>Champions</b></h3>
				<table>
					<thead>
						<tr>
						<th>Countries</th>
						<th> year</th>
						</tr>
					</thead>
					<tr>
						<td>West Indies</td>
						<td>1975</td>
					</tr>
					<tr>
						<td>West Indies</td>
						<td>1979</td>
					</tr>
					<tr>
						<td>India</td>
						<td>1983</td>
					</tr>
					<tr>
						<td>Australia</td>
						<td>1987</td>
					</tr>
					<tr>
						<td>Pakistan</td>
						<td>1992</td>
					</tr>
					<tr>
						<td>Sri Lanka</td>
						<td>1996</td>
					</tr>
					<tr>
						<td>Australia</td>
						<td>1999</td>
					</tr>
					<tr>
						<td>Australia</td>
						<td>2003</td>
					</tr>
					<tr>
						<td>Australia</td>
						<td>2007</td>
					</tr>
					<tr>
						<td>India</td>
						<td>2011</td>
					</tr>
					<tr>
						<td>Australia</td>
						<td>2015</td>
					</tr>
					<tr>
						<td>England</td>
						<td>2019</td>
					</tr>
				</table>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/Kwu1yIC-ssg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<p> want to know more?</p>
				<a href="https://en.wikipedia.org/wiki/Cricket_World_Cup#Overview"> click here</a>
			</body>
		</html>
